body {
    background: rgb(152, 197, 255);
    font: normal 15pt Arial;
}

div#resultado {
    text-align: center;
    font-weight: bold;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.555);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}