body {
    background-color: rgb(31, 104, 111);
    color: white;
    margin: 20px;
    font-size: 12px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.resultado {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(229, 221, 59);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

h2#titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3#subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
